<footer class='c-footer'>
  <div class='o-grid c-footer__content'>
    {{> logo }}

    {{> social-icons }}

    {{> navigation/dist/footer }}

    <div class='c-footer-copy'>
      &copy; {{ date format='YYYY' }} {{ @site.title }}
      <span> – {{{t 'Published with {ghostLink} & {themeLink}' ghostLink='<a href=\'https://ghost.org\'>Ghost</a>' themeLink='<a href=\'https://aspirethemes.com/themes/tripoli\'>Tripoli</a>' }}}</span>
    </div>
  </div>
</footer>
