// ------------------------------------
// Components > Card
// ------------------------------------

@use '../vendor/mq';
@use '../tools/mixins';

.c-card {
  &--center {
    * {
      text-align: center;
      justify-content: center;
    }
  }

  &__media {
    display: block;
    position: relative;
    padding-bottom: 66.6667%;
    aspect-ratio: var(--ratio-3x2);
    margin-bottom: var(--space-16);
    background-color: var(--color-background-secondary);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .1);
      opacity: 0;
      transition: ease opacity var(--motion-duration-fast);
    }

    @include mixins.hover() {
      &:after {
        opacity: 1;
      }
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    > * + * {
      margin-top: var(--space-8);
    }
  }

  &__headline {
    @include mixins.font($scale: 5, $weight: semibold);
    font-family: var(--gh-font-heading, var(--font-family-serif));

    @include mixins.link_underline_on_hover();
  }

  &--large &__headline {
    @include mq.mq($from: desktop) {
      @include mixins.font($scale: 8, $line-height: 9);
    }
  }

  &__standfirst {
    @include mixins.font($scale: 3, $line-height: 4);
    font-family: var(--gh-font-body, var(--font-family-serif));
  }

  &--large &__standfirst {
    @include mixins.font($scale: 3, $line-height: 4);

    @include mq.mq($from: desktop) {
      @include mixins.font($scale: 4, $line-height: 5);
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }

  &__byline { }

  &__timestamp { }
}