// ------------------------------------
// Components > Section subnav
// ------------------------------------

@use '../tools/mixins';

.c-section-subnav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8) var(--space-16);
  margin-block: 0 var(--space-24);

  &__link {
    @include mixins.font($scale: 1, $weight: medium);
    color: var(--color-text-secondary);
    text-decoration: none;

    &:hover,
    &:focus-visible {
      color: var(--color-text);
      text-decoration: underline;
    }
  }
}
