{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{#post}}
  {{> topper }}

  <article class='c-post {{ post_class }}'>
    {{#if access}}
      {{#if @custom.enable_table_of_contents}}
        {{> table-of-contents }}
      {{/if}}

      {{#has tag='#table-of-content'}}
        {{> table-of-contents }}
      {{/has}}
    {{/if}}

    <div class='c-content {{#unless access}} c-content--has-shadow {{/unless}}'>
      {{ content }}
    </div>

    {{> ads/dist/post-below-content }}

    {{#unless access}}
      {{> upgrade }}
    {{/unless}}

    {{#if tags}}
      <div class='c-post__tags c-tag'>
        {{ tags separator=' — ' limit='' }}
      </div>
    {{/if}}

    {{> comments/ghost }}
  </article>
{{/post}}

{{> related }}

{{> latest }}