// ------------------------------------
// Tokens > Fonts
// ------------------------------------

// Benton Sans

@font-face {
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/benton-sans/BentonSans-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Benton Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/benton-sans/BentonSans-BookItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/benton-sans/BentonSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/benton-sans/BentonSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/benton-sans/BentonSans-Black.woff2') format('woff2');
}

// Plantin MT Pro

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/plantin-mt-pro/PlantinMTPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/plantin-mt-pro/PlantinMTPro-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/plantin-mt-pro/PlantinMTPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/plantin-mt-pro/PlantinMTPro-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/plantin-mt-pro/PlantinMTPro-Bold.woff2') format('woff2');
}
